{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-dark">
    {% if queryset %}
    <div class="container">
      <div class="row">
        <!-- Tarjeta de juego -->
        {% for juego in queryset %}
        <div class="col-md-4">
          <div class="card game-card">
            <img
              src="{% static juego.imagen %}"
              class="img-fluid w-100"
              alt="Juego 1"
            />
            <div class="card-body bg-grey">
              <h5 class="card-title">{{juego.nombre|upper}}</h5>
              <p class="card-text text-black">{{juego.descripcion}}</p>
              <p class="card-text text-black">
                <strong>Precio:</strong> {{juego.precio}}
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container">
          <div class="alert alert-warning text-center">
            No hay juegos seleccionados
          </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
